body{
}
div{
  box-sizing: border-box;
}
#mainBox{
  padding-top:20px;
  padding-bottom: 50px;
  .nav-pills>li{
    border-radius: 5px;
    box-sizing: border-box;
  }
  .dropdown-menu>li>a:hover{
    background-color: #C9302C;
  }
}