html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#mainBox.container {
  width: 100%;
}
#mainBox {
  padding-top: 20px;
  padding-bottom: 50px;
}
#mainBox .row > div {
  padding-left: 15px;
}
#mainBox .nav-pills > li {
  border-radius: 6px;
  box-sizing: border-box;
}
#mainBox .dropdown-menu > li > a:hover {
  background-color: #C9302C;
}
#mainBox .left_nav > li {
  border: 2px solid #D9534F;
}
#mainBox .nav_right button,
#mainBox .nav_right input {
  vertical-align: middle;
  height: 40px;
}
#mainBox .nav_right input {
  border-color: #D9534F;
}
#mainBox .nav_right button {
  background-color: #D9534F;
  color: white;
}
section {
  margin-top: 10px;
}
section div.list-group > a {
  padding: 0;
}
section ul {
  margin: 0;
  height: 40px;
  line-height: 40px;
  padding: 0;
  list-style: none;
}
section ul > li {
  float: left;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
section ul > li:nth-child(1) {
  width: 5%;
}
section ul > li:nth-child(2) {
  width: 10%;
}
section ul > li:nth-child(3) {
  width: 20%;
}
section ul > li:nth-child(4) {
  width: 5%;
}
section ul > li:nth-child(5) {
  width: 5%;
}
section ul > li:nth-child(6) {
  width: 5%;
}
section ul > li:nth-child(7) {
  width: 10%;
}
section ul > li:nth-child(8) {
  width: 5%;
}
section ul > li:nth-child(9) {
  width: 5%;
}
section ul > li:nth-child(10) {
  width: 10%;
}
section ul > li:nth-child(11) {
  width: 10%;
}
section ul > li:nth-child(12) {
  width: 10%;
}
